<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
    crossorigin="anonymous"
    >
    <title>{% block title %}{% endblock %}</title>

</head>
<body style="background-color: #282C34; color:silver;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#21252B; border-bottom:1px solid; border-color: #373840;">
      <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon""></span></button>
          <a class="navbar-brand" href="/home"><img src="https://cdn.discordapp.com/attachments/853971257087361047/887424717672292392/logo.png"></a>
          <div class="collapse navbar-collapse" id="navbar">      

              <div class="navbar-nav gap-2 me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
                  <a class="btn btn-outline-light btn-sm" href="/create-room" role="button" style="max-width: 145px;">Create Room</Ri:a></a>
                  <a class="btn btn-outline-light btn-sm" href="/home" role="button" style="max-width: 145px;">Home</a>
              {% else %}
                  <a class="btn btn-outline-light btn-sm" href="/signup" role="button" style="max-width: 145px;">Dont have an account</a>
              {% endif %}
              </div>
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">Signed in as {{user.username}}</button>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                    <li><a class="dropdown-item" href="/posts/{{user.username}}">My Posts</a></li>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>
                  </ul>
                </div>
                </ul>
                {% else %}
                    <a class="nav-link" style="color:silver; display:flex; align-items:right">Not currently signed in.</a>           
                {% endif %}
              </div>
          </div>
      </div>
  </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}

        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">{% block content %}{% endblock %}</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
    crossorigin="anonymous">
    </script>
</body>
</html>