{% extends 'base.html' %}
{% block title %}

Create a text post

{% endblock %}

{% block content %}

<h1 align='center'>Make a post</h1>


<form method="POST">

    <label for="email">Post title</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Your title"/>

    <br>

    <label for="email">Post content</label>
    <textarea placeholder="Content of your post" name="text" id="text" class="form-control" ></textarea>

    <br>
        
    <div align='center'>

        <button class="btn btn-primary" type="submit">Post Text</button>
        <a href="/image-post/{{current_room}}" class="btn btn-primary btn-"  role="button" aria-disabled="true">Post image</a>

    </div>
        
        
   

</form>


{% endblock %}