{% extends 'base.html' %}
{% block title %} Image Post {% endblock %}

{% block content %}

<h1 align='center'>{% block header %}Make a Post{% endblock %}</h1>

<form method="POST">
    <div class="form-group">

        <label for="email">Image Link</label>
        <input type="text" id="link" name="link" class="form-control" placeholder="Enter the image link"/>

        <br>
        {% block caption %}
        <label for="email">Caption</label>
        <input type="text" id="text" name="text" class="form-control" placeholder="Captions for the image"/>
        {% endblock %}

    </div>

    <br>    

    <div align="center">
        {% block imagebtn %}<button class="btn btn-primary" type="submit">Post Image</button>{% endblock %}
        {% block textbtn %}<a href="/create-post/{{current_room}}" class="btn btn-primary btn-"  role="button" aria-disabled="true">Post text only</a>{% endblock %}
    </div>
</form>

{% endblock %} 