{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<form method="POST">
    <h3 align="center">Login</h3>

    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter your Email"/>

        <label for="email">PassWord</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter your PassWord"/>
        <br>
        <div align="center"><button class="btn btn-primary" type="submit">Login</button></div>
    </div>
</form>

{% endblock %}