{% extends 'posts-div.html' %}
{% block title %}{{username}}{% endblock %}


{% block header %} {{username}} {% endblock %}

{% block info %}

<h2>Room Description</h2> 

<br>
<div style="color: #A22B2D;">

    {{info}} 

</div>

<br>
{% endblock %}

{% block aditional %}
    <h4>Participants in this room</h4>
    <ul>
        {% for part in participants %}
            {% if part == room_author %}
                <li><a style="color: #A22B2D;" href="/rooms/{{part}}">{{part}} - TEACHER</a></li>
            {% else %}
                <li><a style="color: #A22B2D;" href="/posts/{{part}}">{{part}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
        