{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %} 
<div class="container" style="max-width:75%; padding: 35px">
<h1 align='center'>{% block header %} Rooms {% endblock %}</h1>

<div id='rooms'>
    {% for room in rooms %}  

    <div class="card" style="border-radius: 5px; border-color:#A22B2D;">
        <div class='card-header d-flex justify-content-between align-items-center' style="background-color:#282C34;">
            <h3>{{room.title}}</h3>
            <div class="btn-group">
                <button type='button' class='btn btn-sm btn-outline-light dropdown-toggle' data-bs-toggle='dropdown'></button>
                <ul class='dropdown-menu'>
                    <li><a href="/content/{{room.id}}" class="dropdown-item">Join</a></li>
                    {% if current_user.id == room.user.id %}
                    <li><a href="/delete-room/{{room.id}}" class="dropdown-item">Delete</a></li>
                    {% endif %}
                </ul>
            </div>
        
        </div>
        <div class='card-body' style="background-color: #21252B; border-top: 1px solid #A22B2D; border-bottom: 1px solid #A22B2D">
            <div class="card-subtitle"><a href="/rooms/{{room.user.username}}">{{room.user.username}}</a></div>
            <div class='card-text'>{{room.info}}</div>
        </div>
        <div class="card-footer text-muted" style="background-color:#282C34;">{{room.date_created}}</div>
    </div>
    <br>
    {% endfor %}
</div>
</div>

{% endblock %}
