{% extends 'login.html' %}
{% block title %}Sign Up{% endblock %}
{% block header %}Create an account{% endblock %}
{% block username %}
<label for="email">Username</label>
<input type="text" id="username" name="username" class="form-control" placeholder="Create a username" style="background-color: #282C34; border-color: #454651; color:silver;"/>
{% endblock %}
{% block passwordSU %}
<label for="email">Password Confirmation</label>
<input type="password" id="password2" name="password2" class="form-control" placeholder="Enter your Password" style="background-color: #282C34; border-color: #454651; color:silver;"/>
{% endblock %}